.main_banner {
}
.main_banner__img {
  background: url("https://xprd-api.okthere.com/v3/images/5458");
  background-position: center;
  height: 590px;
}
.main_banner__text {
  height: 300px;
  padding-top: 130px;
}
.main_banner__img h2 {
  padding-top: 150px;
  padding: 10px;
}
.main_banner__img h3 {
  font-size: 24px;
  padding: 10px;
}
.main_banner__img h2,
h3 {
  text-align: center;
  color: white;
  font-weight: bold;
  font-size: 32px;
}
.main_banner__controll {
  margin-top: 20px;
  margin-bottom: 60px;
  height: 24px;
  width: 100%;
  text-align: center;
}
.selected-now {
  color: pink;
}
.fa-circle {
  color: gray;
}
.fa-circle:hover {
  color: pink;
}
