.main_container {
  background: white;
}
.main_container_header {
  color: rgba(0, 0, 0, 0.8);
  font-size: 24px;
  font-weight: 600;
}
.main_container_header .header_title-color {
  color: purple;
}
.main_container .main_container_hot_items {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 72%;
  margin: auto;
}

.main_container_hot_items .hot_item-sebu,
.main_container_hot_items .hot_item-column {
  width: 50%;
  background: pink;
  height: 718px;
}
.main_container_hot_items .hot_item-sebu {
  background: url(https://xprd-api.okthere.com/v3/images/19006/sizes/0x720);
}
.main_container_hot_items .hot_item-tokyo {
  background: url(https://xprd-api.okthere.com/v3/images/21181/sizes/537x0);
}
.main_container_hot_items .hot_item-singapore {
  background: url(https://xprd-api.okthere.com/v3/images/72508/sizes/537x0);
}
.main_container_hot_items .hot_item-column {
  display: flex;
  flex-direction: column;
}
.main_container_hot_items .hot_item-tokyo,
.main_container_hot_items .hot_item-singapore {
  height: 350px;
}

.main_container_hot_item {
  width: 33%;
  height: 356px;
}
